<div>
    <h1>Productos en real time</h1>
    <form action="" id="formulario">
        <label for="nombreProd">Nombre del Producto</label>
        <input type="text" id="nombreProd" name="nombreProd">
        <label for="precioProd">Precio del Producto</label>
        <input type="number" id="precioProd" name="precioProd">
        <label for="descProd">Descripcion del Producto</label>
        <input type="text" id="descProd" name="descProd">
        <label for="codeProd">Code del Producto</label>
        <input type="text" id="codeProd" name="codeProd">
        <label for="stockProd">Stock del Producto</label>
        <input type="number" id="stockProd" name="stockProd">
        <button id="botonEnviar" type="submit">Enviar</button>
    </form>
</div>
{{>home}}